<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="ITE client target (HTTP)" sequenceNumber="82">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.razorcat.appserver.client.api" version="1.1.2"/>
<unit id="com.razorcat.appserver.client.api.source" version="1.1.2"/>
<unit id="slf4j.api" version="1.5.11"/>
<unit id="com.razorcat.stream_protocol" version="1.1.0"/>
<unit id="com.razorcat.stream_protocol" version="1.0.1"/>
<unit id="com.razorcat.stream_protocol.source" version="1.1.0"/>
<unit id="com.razorcat.stream_protocol.source" version="1.0.1"/>
<unit id="com.razorcat.trm.client.api.testreplay" version="0.0.1"/>
<unit id="com.razorcat.trm.client.api.testreplay.source" version="0.0.1"/>
<unit id="com.razorcat.trm.client.api" version="4.0.4"/>
<unit id="com.razorcat.trm.client.api" version="4.0.1"/>
<unit id="com.razorcat.trm.client.api.source" version="4.0.4"/>
<unit id="com.razorcat.trm.client.api.source" version="4.0.1"/>
<repository location="jar:http://spdc.ats-berlin.de:81/JavaRepository/p2repos/trm_client_apis-Update-1.1.0.zip!/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rmf.examples.feature.feature.group" version="0.9.0.201310111533"/>
<unit id="org.eclipse.rmf.reqif10.feature.feature.group" version="0.9.0.201310111533"/>
<unit id="org.eclipse.rmf.reqif10.pror.feature.feature.group" version="0.9.0.201310111533"/>
<repository location="jar:http://spdc.ats-berlin.de:81/JavaRepository/p2repos/rmf-0.9.0.zip!/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.launching" version="3.6.1.v20110803_r371"/>
<unit id="org.eclipse.jdt.ui.source" version="3.7.1.r371_v20110824-0800"/>
<unit id="org.eclipse.jdt.core.manipulation.source" version="1.4.0.v20110505-0800"/>
<unit id="org.eclipse.jdt.core.manipulation" version="1.4.0.v20110505-0800"/>
<unit id="org.eclipse.jdt.ui" version="3.7.1.r371_v20110824-0800"/>
<unit id="org.eclipse.jdt.core" version="3.7.1.v_B76_R37x"/>
<unit id="org.eclipse.jdt.debug" version="3.7.1.v20110802_r371"/>
<unit id="org.eclipse.jdt.debug.source" version="3.7.1.v20110802_r371"/>
<unit id="org.eclipse.jdt.core.source" version="3.7.1.v_B76_R37x"/>
<unit id="org.eclipse.jdt.launching.source" version="3.6.1.v20110803_r371"/>
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
<unit id="org.apache.batik.ext.awt.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.bridge.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.css.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util.gui.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.parser.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.svg.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.svggen.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.swing.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.transcoder.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.xml.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v201101211617"/>
<unit id="org.apache.derby" version="10.8.2.2_v201211210650"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.poi" version="3.9.0.v201303080712"/>
<unit id="org.apache.poi.source" version="3.9.0.v201303080712"/>
<unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="com.google.inject.source" version="2.0.0.v201105231817"/>
<unit id="com.ibm.icu.source" version="4.4.2.v20110823"/>
<unit id="javax.ejb" version="3.1.1.v201204261316"/>
<unit id="javax.ejb.source" version="3.1.1.v201204261316"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20130318-1750"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.resource" version="1.6.0.v201204270900"/>
<unit id="javax.resource.source" version="1.6.0.v201204270900"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<unit id="com.sun.jersey" version="1.12.0.v20120726-0640"/>
<unit id="com.sun.jersey.source" version="1.12.0.v20120726-0640"/>
<unit id="org.mortbay.jetty.server.source" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty.util.source" version="6.1.23.v201012071420"/>
<unit id="ch.ethz.iks.slp" version="1.0.0.RC5_v20080820-1500"/>
<unit id="ch.ethz.iks.slp.source" version="1.0.0.RC2_v20080604-1500"/>
<unit id="com.jcraft.jzlib" version="1.1.1.v201205102305"/>
<unit id="com.jcraft.jzlib.source" version="1.1.1.v201205102305"/>
<unit id="com.lowagie.text" version="2.1.7.v201004222200"/>
<unit id="com.lowagie.text.source" version="2.1.7.v201004222200"/>
<unit id="org.mozilla.javascript.source" version="1.7.2.v201005080400"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.mockito.source" version="1.8.4.v201303031500"/>
<unit id="org.hamcrest.integration" version="1.1.0.v201303031500"/>
<unit id="org.junit" version="4.10.0.v4_10_0_v20130308-0414"/>
<unit id="org.junit" version="4.7.0.v4_7_0_v20130308-0411"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit.source" version="4.10.0.v4_10_0_v20130308-0414"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit.source" version="4.11.0.v201303080030"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20130308-0412"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.junit.source" version="3.8.2.v3_8_2_v20130308-0410"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20130308-0412"/>
<unit id="org.junit" version="3.8.2.v3_8_2_v20130308-0410"/>
<unit id="org.junit.source" version="4.8.2.v4_8_2_v20130308-0413"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.mockito" version="1.8.4.v201303031500"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20130308-0413"/>
<unit id="org.junit.source" version="4.7.0.v4_7_0_v20130308-0411"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v201303031500"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.apache.derby.source" version="10.8.2.2_v201211210650"/>
<unit id="org.w3c.css.sac.source" version="1.3.0.v200805290154"/>
<unit id="org.w3c.dom.smil.source" version="1.0.0.v200806040011"/>
<unit id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
<repository location="jar:http://spdc.ats-berlin.de:81/JavaRepository/p2repos/ITE-target-platform-other-3.7.1-Update-1.2.2.zip!/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.0.1.R37x_v20110906-7A4FD4DiVOManqZttPtXz0lWlFbU"/>
<unit id="org.eclipse.birt.chart.osgi.runtime.feature.group" version="4.3.1.v201308301349-8C9T7KFYeMBl5QxoPeJol"/>
<unit id="org.eclipse.birt.osgi.runtime.feature.group" version="4.3.1.v201308301349-BTC489GHd2hB17i_V1-Of6"/>
<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.11.1.v201306041610-7C7k9DEt1byrWKfqjWoRWcUXFvC"/>
<unit id="org.eclipse.datatools.connectivity.feature.source.feature.group" version="1.11.1.v201306041610-7C7k9DEt1byrWKfqjWoRWcUXFvC"/>
<unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.11.1.v201306041610-7A7T7GDZRDKKEgFnGiJR"/>
<unit id="org.eclipse.datatools.enablement.oda.feature.source.feature.group" version="1.11.1.v201306041610-7A7T7GDZRDKKEgFnGiJR"/>
<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.11.1.v201306041610-7H7D7_CcNBHSClIkDbLd"/>
<unit id="org.eclipse.datatools.connectivity.oda.feature.source.feature.group" version="1.11.1.v201306041610-7H7D7_CcNBHSClIkDbLd"/>
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="4.3.1.v201308301349-5207w31241941245A"/>
<unit id="org.eclipse.birt.chart.osgi.runtime.source.feature.group" version="4.3.1.v201308301349-8C9T7KFYeMBl5QxoPeJol"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="4.3.1.v201308301349-5207w31241A242569"/>
<unit id="org.eclipse.birt.osgi.runtime.source.feature.group" version="4.3.1.v201308301349-BTC489GHd2hB17i_V1-Of6"/>
<unit id="org.eclipse.birt.source.feature.group" version="4.3.1.v201308301349-DTDN8fGjtEqcbZz0BQWLW07D_cfT"/>
<unit id="org.eclipse.help.feature.group" version="1.3.0.v20110327-7i7uFFkFFp7gNobOpNgKo0"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.1.2.R37x_v20110815-1155-6-Bj9JXOeQxOURYC-l9BL7rDEQO7"/>
<unit id="org.eclipse.platform.feature.group" version="3.7.1.r37x_v20110729-9gF7UHOxFtniV7mI3T556iZN9AU8bEZ1lHMcVK"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.5.0.v20110530-7P7NFUFFLWUl76mart"/>
<unit id="org.eclipse.platform.source.feature.group" version="3.7.1.r37x_v20110729-9gF7UHOxFtniV7mI3T556iZN9AU8bEZ1lHMcVK"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.1.r37x_v20110729-9DB5FmNFnFLSFCtLxnRfMqt15A4A"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.1.r37x_v20110729-9DB5FmNFnFLSFCtLxnRfMqt15A4A"/>
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.3.2.v20111125-r10461"/>
<unit id="org.eclipse.persistence.jpa.source.feature.group" version="2.3.2.v20111125-r10461"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.7.1.v20110912-0920"/>
<unit id="org.eclipse.emf.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20110912-0920"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.2.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.2.0.v20110913-1156"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.converter.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.0.1.R37x_v20110906-8290FZ3FUqIcLqkVkEaTdn_14C7G"/>
<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.0.1.R37x_v20110906-8290FZ3FUqIcLqkVkEaTdn_14C7G"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.1.2.R37x_v20110815-1155-6-Bj9JXOeQxOURYC-l9BL7rDEQO7"/>
<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.0.1.R37x_v20110906-7A4FD4DiVOManqZttPtXz0lWlFbU"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.0.1.R37x_v20110906-782EpBqNKGUkZQpuT8hAlWlFbUeo"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="1.0.1.R37x_v20110906-782EpBqNKGUkZQpuT8hAlWlFbUeo"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.8.1.201208200205"/>
<unit id="org.eclipse.draw2d.source.feature.group" version="3.8.1.201208200205"/>
<unit id="org.eclipse.gef.feature.group" version="3.8.1.201208200205"/>
<unit id="org.eclipse.gef.source.feature.group" version="3.8.1.201208200205"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.1.0.v201110310946"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.2.1.v201110310946"/>
<unit id="org.eclipse.emf.source.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.sdk.source.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.codegen.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ui.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.databinding.source.feature.group" version="1.2.0.v20110913-1156"/>
<unit id="org.eclipse.emf.doc.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ecore.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ecore.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.edit.source.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.2.0.v20110913-1156"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.examples.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.mapping.ui.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.converter.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.oda.source.feature.group" version="1.0.1.v20110913-1156"/>
<unit id="org.eclipse.emf.oda.sdk.source.feature.group" version="1.0.1.v20110913-1156"/>
<unit id="org.eclipse.emf.oda.ecore.source.feature.group" version="1.0.1.v20110913-1156"/>
<unit id="org.eclipse.emf.oda.ecore.ui.source.feature.group" version="1.0.0.v20110913-1156"/>
<unit id="org.eclipse.emf.ecore.editor.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.all.source.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.source.feature.group" version="2.1.0.v201110310946"/>
<unit id="org.eclipse.emf.mwe.core.source.feature.group" version="1.2.1.v201110310946"/>
<unit id="org.eclipse.xtext.xbase.source.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xpand.source.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xsd.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.sdk.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.doc.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.ecore.converter.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.edit.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.example.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.mapping.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.mapping.editor.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xsd.editor.source.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.xtend.source.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.dependencies.source.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.emf.source.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.xsd.source.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtext.xtend2.sdk.source.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xtext.runtime.source.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xtext.ui.source.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xpand.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtext.xtend2.sdk.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.1.0.v201111010612"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.1.0.v201111010612"/>
<repository location="jar:http://spdc.ats-berlin.de:81/JavaRepository/p2repos/ITE-target-platform-3.7.1-Update-1.1.1.zip!/"/>
</location>
</locations>
</target>
