<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="cmakeNature"
         name="CMake Nature"
         point="org.eclipse.core.resources.natures">
         <!--
      <requires-nature
            id="org.eclipse.cdt.make.core.makeNature">
      </requires-nature>
      -->
      <runtime>
         <run
               class="de.marw.cdt.cmake.core.CMakeNature">
         </run>
      </runtime>
      <builder
            id="de.marw.cdt.cmake.core.cmakeMakeBuilder">
      </builder>
   </extension>

    <extension
          point="org.eclipse.cdt.core.templateProcessTypes">
       <processType
             name="NewCMakeProject"
             processRunner="de.marw.cdt.cmake.core.internal.wizards.NewCMakeProject">
          <simple
                name="name">
          </simple>
          <simple
                external="true"
                name="location"
                nullable="true">
          </simple>
          <simple
                name="artifactExtension">
          </simple>
          <simple
                external="true"
                name="isCProject">
          </simple>
       </processType>
       <processType
             name="SetCMakeStringOptionValue"
             processRunner="de.marw.cdt.cmake.core.internal.wizards.SetCMakeStringOptionValue">
          <simple
                name="name">
          </simple>
          <complexArray
                name="resourcePaths">
             <baseType>
                <simple
                      name="id">
                </simple>
                <simple
                      name="value">
                </simple>
             </baseType>
          </complexArray>
       </processType>
    </extension>
    
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.marw.cdt.cmake.core.CMakeNature.category"
            name="CMake Nature commands">
      </category>
      <command
            categoryId="de.marw.cdt.cmake.core.CMakeNature.category"
            defaultHandler="de.marw.cdt.cmake.core.internal.AddRemoveCMakeNatureHandler"
            id="de.marw.cdt.cmake.core.addRemoveCMakeBuildNature"
            name="Add/Remove CMake Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.marw.cdt.cmake.core.addRemoveCMakeBuildNature"
               label="Enable CMake builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.marw.cdt.cmake.core.cmakeNature">
                           </test>
                        </not>
                        <!--
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.make.core.makeNature">
                           </test>
                           -->
                        </and>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.marw.cdt.cmake.core.addRemoveCMakeBuildNature"
               label="Disable CMake builder"
              style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.marw.cdt.cmake.core.cmakeNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             base-type="org.eclipse.core.runtime.text"
             file-extensions="txt"
             file-names="CMakeLists.txt"
             id="de.marw.cdt.cmake.core.cmakelists.txt"
             name="CMake script"
             priority="high">
       </content-type>
    </extension>
    <extension
          id="cmakeProblem"
          name="CMake ProblemMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.cdt.core.problem">
       </super>
       <persistent
             value="true">
       </persistent>
       <attribute
             name="libraryInfo">
       </attribute>
    </extension>

   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <builder
            autoBuildTarget="all"
            buildRunner="org.eclipse.cdt.managedbuilder.core.ExternalBuildRunner"
            buildfileGenerator="de.marw.cdt.cmake.core.internal.CMakeMakefileGenerator"
            cleanBuildTarget="clean"
            command="make"
            errorParsers="org.eclipse.cdt.core.MakeErrorParser"
            id="de.marw.cdt.cmake.core.genmakebuilder"
            ignoreErrCmd="-k"
            incrementalBuildTarget="all"
            isAbstract="false"
            isSystem="false"
            isVariableCaseSensitive="true"
            name="CMake make builder">
         <option
               browseType="directory"
               id="de.marw.cdt.cmake.core.option.topBuildDir"
               isAbstract="false"
               name="Top build directory"
               resourceFilter="project"
               valueType="string">
         </option>
      </builder>
      <toolChain
            id="de.marw.cdt.cmake.core.toolChain"
            isAbstract="false"
            name="CMake (empty)">
      <builder
            id="de.marw.cdt.cmake.core.toolchain.genmakebuilder"
            isSystem="true"
            superClass="de.marw.cdt.cmake.core.genmakebuilder">
      </builder>
      </toolChain>
      <!--
      -->
   </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="de.marw.cdt.cmake.core.ui.BuilderSettingsTab"
            name="CMake"
            parent="cdt.managedbuilder.ui.properties.Page_head_build"
            weight="15">
      </tab>
   </extension>

</plugin>
