<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <!-- only kept for backward compatibility with projects set up with cmake4eclipse < 2.0.0 -->
      <builder
            autoBuildTarget="all"
            buildRunner="org.eclipse.cdt.managedbuilder.core.ExternalBuildRunner"
            buildfileGenerator="de.marw.cdt.cmake.core.internal.BuildscriptGenerator"
            cleanBuildTarget="clean"
            command="make"
            errorParsers="org.eclipse.cdt.core.MakeErrorParser"
            id="de.marw.cdt.cmake.core.genmakebuilder"
            ignoreErrCmd="-k"
            incrementalBuildTarget="all"
            isSystem="true"
            name="CMake Builder (deprecated)"
            parallelBuildCmd="-j*"
            parallelBuildOn="true"
            parallelizationNumber="unlimited">
      </builder>
         <builder
               autoBuildTarget="all"
               buildRunner="de.marw.cdt.cmake.core.internal.CMakeBuildRunner"
               buildfileGenerator="de.marw.cdt.cmake.core.internal.BuildscriptGenerator"
               cleanBuildTarget="clean"
               command="CMAKE_BUILD_TOOL"
               id="de.marw.cdt.cmake.core.genscriptbuilder"
               ignoreErrCmd="$&lt;cmake4eclipse_dyn&gt;"
               incrementalBuildTarget="all"
               name="CMake Builder"
               parallelBuildCmd="$&lt;cmake4eclipse_dyn&gt;"
               parallelBuildOn="true"
               parallelizationNumber="unlimited">
         </builder>
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.GNU_ELF;org.eclipse.cdt.core.ELF;org.eclipse.cdt.core.MachO64;org.eclipse.cdt.core.PE;org.eclipse.cdt.core.Cygwin_PE"
               id="de.marw.cdt.cmake.core.targetPlatform.any"
               name="Any Platform"
               osList="all">
         </targetPlatform>
 </extension>
   <extension
         id="BuildscriptGenerationError"
         name="Buildscript Generation Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="BuildRunnerError"
         name="CMakecache.txt Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="de.marw.cdt.cmake.core.ui.CMakeConsole"
            id="de.marw.cdt.cmake.core.cmakeConsole">
      </CBuildConsole>
   </extension>
   <extension
         id="problem"
         name="CMake Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
	<super type="org.eclipse.core.resources.textmarker">
	</super>
   </extension>
</plugin>
