<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <builder
            autoBuildTarget="all"
            buildRunner="org.eclipse.cdt.managedbuilder.core.ExternalBuildRunner"
            buildfileGenerator="de.marw.cdt.cmake.core.internal.BuildscriptGenerator"
            cleanBuildTarget="clean"
            command="make"
            errorParsers="org.eclipse.cdt.core.MakeErrorParser"
            id="de.marw.cdt.cmake.core.genmakebuilder"
            ignoreErrCmd="-k"
            incrementalBuildTarget="all"
            isSystem="false"
            name="CMake Builder (GNU Make)"
            parallelBuildCmd="-j*"
            parallelBuildOn="true"
            parallelizationNumber="unlimited">
      </builder>
         <builder
               autoBuildTarget="all"
               buildRunner="de.marw.cdt.cmake.core.internal.CmakeBuildRunner"
               buildfileGenerator="de.marw.cdt.cmake.core.internal.BuildscriptGenerator"
               cleanBuildTarget="clean"
               command="CMAKE_BUILD_TOOL"
               id="de.marw.cdt.cmake.core.genscriptbuilder"
               ignoreErrCmd="CMAKE_BUILD_TOOL_IGN_ERR"
               incrementalBuildTarget="all"
               name="CMake Builder (portable)">
         </builder>
         <!--
      <toolChain
            archList="all"
            configurationMacroSupplier="de.marw.cdt.cmake.core.internal.CmakeOsMacroSupplier"
            id="de.marw.cdt.cmake.core.toolChain"
            name="CMake portable"
            osList="all">
         <targetPlatform
               archList="all"
               id="de.marw.cdt.cmake.core.targetPlatform"
               name="Portable Platform"
               osList="all">
         </targetPlatform>
         <builder
               arguments="${cmake_build_cmd_earg}"
               buildRunner="de.marw.cdt.cmake.core.internal.CmakeBuildRunner"
               command="${cmake_build_cmd}"
               id="de.marw.cdt.cmake.core.genscriptbuilder"
               ignoreErrCmd="${cmake_ignore_err_option}"
               name="CMake Builder (portable)"
               reservedMacroNameSupplier="de.marw.cdt.cmake.core.internal.CmakeOsMacroSupplier"
               superClass="de.marw.cdt.cmake.core.genmakebuilder">
         </builder>
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.exe">
               </value>
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
               </value>
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.sharedLib">
               </value>
               <value
                     id="de.marw.cdt.cmake.core.buildArtefactType.CMAKE"></value>
            </property>
         </supportedProperties>
      </toolChain>
      -->
   </extension>
   <extension
         id="BuildscriptGenerationError"
         name="Buildscript Generation Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <!-- project settings UI   -->
  
    <extension
         point="org.eclipse.ui.propertyPages">
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="de.marw.cdt.cmake.core.ui.CMakePropertyPage"
              id="de.marw.cdt.cmake.core.ui.CMakePropertyPage"
              name="CMake">
         <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
                 </test>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cdt.cmake.core.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cdt.cmake.core.keyword.cdt">
         </keywordReference>
        </page>    
        <page
              category="de.marw.cdt.cmake.core.ui.CMakePropertyPage"
              class="de.marw.cdt.cmake.core.ui.HostOSPropertyPage"
              id="de.marw.cdt.cmake.core.ui.HostOSPropertyPage"
              name="Host OS overrides">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IProject">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.managedbuilder.core.managedBuildNature"/>
           </adapt>
         </enabledWhen>
        </page>    
  </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="de.marw.cdt.cmake.core.ui.CMakePropertyTab"
            helpId="de.marw.cdt.cmake.core.t_cmake_options_general"
            name="&amp;General"
            parent="de.marw.cdt.cmake.core.ui.CMakePropertyPage"
            tooltip="Properties applied under each OS">
      </tab>
      <tab
            class="de.marw.cdt.cmake.core.ui.CMakeSymbolsTab"
            helpId="de.marw.cdt.cmake.core.t_cmake_symbols_general"
            name="&amp;Symbols"
            parent="de.marw.cdt.cmake.core.ui.CMakePropertyPage"
            tooltip="Applied under each OS">
      </tab>
      <tab
            class="de.marw.cdt.cmake.core.ui.LinuxPropertyTab"
            helpId="de.marw.cdt.cmake.core.t_cmake_options_OS"
            name="&amp;Linux/default"
            parent="de.marw.cdt.cmake.core.ui.HostOSPropertyPage"
            tooltip="Properties applied under Linux or unkown OS"
            weight="10">
      </tab>
      <tab
            class="de.marw.cdt.cmake.core.ui.WindowsPropertyTab"
            helpId="de.marw.cdt.cmake.core.t_cmake_options_OS"
            name="&amp;Windows"
            parent="de.marw.cdt.cmake.core.ui.HostOSPropertyPage"
            tooltip="Properties applied under windows"
            weight="80">
      </tab>
   </extension>

   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="de.marw.cdt.cmake.core.ui.CMakeConsole"
            id="de.marw.cdt.cmake.core.cmakeConsole">
      </CBuildConsole>
   </extension>
   <extension
         id="CMakeErrorParser"
         name="CMake Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="de.marw.cdt.cmake.core.CMakeErrorParser"></errorparser>
   </extension>
   <extension
         id="problem"
         name="CMake Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
	<super type="org.eclipse.core.resources.textmarker">
	</super>
   </extension>
 <extension
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
    <propertyValue
            property="org.eclipse.cdt.build.core.buildArtefactType"
            id="de.marw.cdt.cmake.core.buildArtefactType.CMAKE"
            name="defined by CMakeLists.txt"/>
   </extension>
 <extension point="org.eclipse.help.toc">
    <toc file="doc/toc.xml" primary="true">
    </toc>
 </extension>
 <extension point="org.eclipse.help.toc">
    <toc file="doc/topics_Tasks.xml">
    </toc>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="doc/contexts_CMake4CDT.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="de.marw.cdt.cmake.core.keyword.cdt"
          label="cdt">
    </keyword>
    <keyword
          id="de.marw.cdt.cmake.core.keyword.cmake"
          label="cmake">
    </keyword>
 </extension>
</plugin>
