<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage"
              id="cmake4eclipse.mbs.ui.CMakePropertyPage"
              name="Cmake4eclipse">
         <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
                 </test>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
        </page>
        <page
              category="cmake4eclipse.mbs.ui.CMakePropertyPage"
              class="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMakeProjectProperty"
              id="cmake4eclipse.mbs.ui.ProjectPropertyPage"
              name="Project Settings">
           <enabledWhen>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
                 </test>
              </adapt>
           </enabledWhen>
        </page>
  </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakePropertyTab"
            icon="icons/CMakeLogo.gif"
            name="&amp;General"
            parent="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage">
      </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakeSymbolsTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.cmake_symbols_context"
            name="&amp;CMake cache entries"
            parent="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage">
      </tab>
   </extension>
 <extension
       point="org.eclipse.cdt.ui.LanguageSettingsProviderAssociation">
    <class-association
          class="de.marw.cmake4eclipse.mbs.internal.JsonCompilationDatabaseParser"
          icon="icons/CMakeLogo.gif"
          page="de.marw.cmake4eclipse.mbs.ui.JsonCompilationDatabaseParserPage"
          ui-clear-entries="false"
          ui-edit-entries="false">
    </class-association>
 </extension>
 <extension point="org.eclipse.help.toc">
    <toc file="doc/toc.xml" primary="true"/>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="doc/help_contexts.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="de.marw.cmake4eclipse.mbs.keyword.cdt"
          label="CDT">
    </keyword>
    <keyword
          id="de.marw.cmake4eclipse.mbs.keyword.cmake"
          label="CMake">
    </keyword>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
          class="de.marw.cmake4eclipse.mbs.ui.preferences.CMakePreferencePage"
          id="cmake4eclipse.mbs.ui.preferences.CMakePreferencePage"
          name="Cmake4eclipse">
       <keywordReference
             id="de.marw.cmake4eclipse.mbs.keyword.cmake">
       </keywordReference>
    </page>
    <page
          category="cmake4eclipse.mbs.ui.preferences.CMakePreferencePage"
          class="de.marw.cmake4eclipse.mbs.ui.preferences.BuildToolkitsPreferencePage"
          id="cmake4eclipse.mbs.ui.toolchains"
          name="Build Tool Kits">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.preferenceTransfer">
    <transfer
          icon="platform:/plugin/org.eclipse.cdt.ui/icons/view16/c_pers.gif"
          id="cmake4eclipse.mbs.ui.transfer"
          name="Cmake4eclipse Preferences">
       <mapping
             scope="instance">
          <entry
                node="de.marw.cmake4eclipse.mbs">
          </entry>
       </mapping>
       <description>C/C++ > Cmake4eclipse preferences.</description>
    </transfer>
 </extension>
 <extension
       point="org.eclipse.cdt.core.CBuildConsole">
    <CBuildConsole
          class="de.marw.cmake4eclipse.mbs.ui.CMakeConsole"
          id="cmake4eclipse.mbs.cmakeConsole">
    </CBuildConsole>
    <CBuildConsole
          class="de.marw.cmake4eclipse.mbs.ui.BuiltinsDetectionConsole"
          id="cmake4eclipse.mbs.builtinsConsole">
    </CBuildConsole>
 </extension>
 
      <extension
         point="org.eclipse.ui.propertyPages">
        <page
            class="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"
            id="cmake4eclipse.mbs.ui.page_Build"
            name="Cmake4eclipse Build"
            >
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
             <and>
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature"/>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             </and>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
        </page>
      <page
            category="cmake4eclipse.mbs.ui.page_Build"
            class="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMakeProjectProperty"
            id="cmake4eclipse.mbs.ui.page_CMakeProjectProperty"
            name="Project Settings">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
             <and>
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature"/>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             </and>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
      </page>    
      
      <page
            category="cmake4eclipse.mbs.ui.page_Build"
            class="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMake"
            id="cmake4eclipse.mbs.ui.page_Cmake4eclipse"
            name="CMake Options">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
             <and>
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature"/>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             </and>
            </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
      </page>
<!-- already shown on the root level
      <page
            category="cmake4eclipse.mbs.ui.page_Build"
            class="org.eclipse.cdt.internal.ui.preferences.BuildLogPreferencePage"
            id="cmake4eclipse.mbs.ui.page_BuildLogging"
            name="Logging">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
-->
      <page
            class="de.marw.cmake4eclipse.mbs.ui.slim.Page_SourceFolders"
            id="cmake4eclipse.mbs.ui.page_SourceLocation"
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            name="Source Folders"
            >
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
             <and>
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature"/>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             </and>
            </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
      </page>
  </extension>
  <extension
           point="org.eclipse.cdt.ui.cPropertyTab">
     <tab
           class="org.eclipse.cdt.managedbuilder.ui.properties.BuildBehaviourTab"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/obj16/target_obj.gif"
           name="Build Behaviour"
           helpId="cdt_u_prop_build"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"
           weight="20"/>
     <tab
           class="org.eclipse.cdt.managedbuilder.ui.properties.RefreshPolicyTab"
           helpId="cdt_u_prop_build"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/elcl16/refresh_nav.gif"
           name="Refresh policy"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"
           weight="60"/>
     <tab
           class="org.eclipse.cdt.internal.docker.launcher.ContainerPropertyTab"
           icon="platform:/plugin/org.eclipse.cdt.docker.launcher/icons/repository-middle.gif"
           name="Container Settings"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"
           weight="60">
     </tab>
     <tab
           class="org.eclipse.cdt.ui.newui.BinaryParsTab"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/obj16/bin_obj.gif"
           name="Binary Parsers"
           weight="80"
           helpId="cdt_u_prop_build_setting_binparser"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"/>
     <tab
           class="org.eclipse.cdt.ui.newui.ErrorParsTab"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/obj16/error_obj.gif"
           name="Error Parsers"
           weight="90"
           helpId="cdt_u_prop_build_setting_errparser"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_BuildTop"/>
     <tab
           class="org.eclipse.cdt.ui.newui.CLocationSourceTab"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/obj16/sroot_obj.gif"
           name="Source Location"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_SourceFolders"
           weight="0"/>
  </extension>
  <extension
        point="org.eclipse.cdt.ui.cPropertyTab">
     <tab
           class="de.marw.cmake4eclipse.mbs.ui.slim.CMakeProjectPropertyTab"
           name="CMakeLists.txt"
           parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMakeProjectProperty">
     </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakePropertyTab"
            helpId="cdt_u_prop_pns_src"
            icon="icons/CMakeLogo.gif"
            name="&amp;CMake options"
            parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMake">
      </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakeSymbolsTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.cmake_symbols"
            name="&amp;CMake cache entries"
            parent="de.marw.cmake4eclipse.mbs.ui.slim.Page_CMake">
      </tab>
  </extension>
  <extension
        point="org.eclipse.tools.templates.ui.templates">
     <tag
           id="de.marw.cmake4eclipse.mbs.ui.cmake4eclipse"
           label="CMake">
     </tag>
     <template
           icon="icons/CMakeLogo.gif"
           id="de.marw.cmake4eclipse.mbs.ui.template_new_project"
           label="Cmake4eclipse Managed Build"
           wizard="de.marw.cmake4eclipse.mbs.ui.slim.NewProjectTemplateWizard">
        <tagReference
              id="org.eclipse.cdt.ui.cdtTag">
        </tagReference>
        <description>
           A project for C or C++ source files using the CDT&apos;s managed build system. Lets CMake generate the build-scripts.
        </description>
        <tagReference
              id="de.marw.cmake4eclipse.mbs.ui.cmake4eclipse">
        </tagReference>
     </template>
  </extension>

  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="de.marw.cmake4eclipse.mbs.ui.navigator.BuildTargetsTreeContentProvider"
           icon="platform:/plugin/org.eclipse.cdt.managedbuilder.ui/icons/obj16/target_obj.gif"
           id="de.marw.cmake4eclipse.mbs.ui.buildTargets.content"
           labelProvider="de.marw.cmake4eclipse.mbs.ui.navigator.BuildTargetsLabelProvider"
           name="Build Targets (cmake)">
       <triggerPoints>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="de.marw.cmake4eclipse.mbs.cmake4eclipsenature">
                </test>
             </and>
       </triggerPoints>
       <possibleChildren>
          <or>
             <instanceof value="de.marw.cmake4eclipse.mbs.ui.navigator.BuildTargetsContainer"/>
             <instanceof value="de.marw.cmake4eclipse.mbs.ui.navigator.NavBuildTarget"/>
          </or>
       </possibleChildren>
       <actionProvider
             class="de.marw.cmake4eclipse.mbs.ui.navigator.NavBuildTargetActionProvider"
             id="de.marw.cmake4eclipse.mbs.ui.buildTargets.actions">
          <enablement>
             <instanceof
                   value="de.marw.cmake4eclipse.mbs.ui.navigator.NavBuildTarget">
             </instanceof>
          </enablement>
       </actionProvider>
       <actionProvider
             class="de.marw.cmake4eclipse.mbs.ui.navigator.EditBuildTargetsActionProvider">
          <enablement>
             <or>
                <instanceof
                      value="de.marw.cmake4eclipse.mbs.ui.navigator.BuildTargetsContainer">
                </instanceof>
             <instanceof
                   value="de.marw.cmake4eclipse.mbs.ui.navigator.NavBuildTarget">
             </instanceof>
             </or>
          </enablement>
       </actionProvider>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="de.marw.cmake4eclipse.mbs.ui.buildTargets.*">
          </contentExtension>
       </includes>
    </viewerContentBinding>
  </extension>
</plugin>
