<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
        <page
              category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
              class="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage"
              id="de.marw.cdt.cmake.build.ui.CMakePropertyPage"
              name="Cmake4eclipse">
         <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
                 </test>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cdt">
         </keywordReference>
        </page>    
        <page
              category="de.marw.cdt.cmake.build.ui.CMakePropertyPage"
              class="de.marw.cmake4eclipse.mbs.ui.HostOSPropertyPage"
              id="de.marw.cdt.cmake.build.ui.HostOSPropertyPage"
              name="Host OS overrides">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IProject">
                <test property="org.eclipse.core.resources.projectNature"
                      value="org.eclipse.cdt.managedbuilder.core.managedBuildNature"/>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="de.marw.cmake4eclipse.mbs.keyword.cmake">
         </keywordReference>
        </page>    
  </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakePropertyTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.t_cmake_options_general"
            name="&amp;General"
            parent="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage"
            tooltip="Properties applied under each OS">
      </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.CMakeSymbolsTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.t_cmake_symbols_general"
            name="&amp;Symbols"
            parent="de.marw.cmake4eclipse.mbs.ui.CMakePropertyPage"
            tooltip="Applied under each OS">
      </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.LinuxPropertyTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.t_cmake_options_general"
            name="&amp;Linux/default"
            parent="de.marw.cmake4eclipse.mbs.ui.HostOSPropertyPage"
            tooltip="Properties applied under Linux or unkown OS"
            weight="10">
      </tab>
      <tab
            class="de.marw.cmake4eclipse.mbs.ui.WindowsPropertyTab"
            helpId="de.marw.cmake4eclipse.mbs.ui.t_cmake_options_general"
            name="&amp;Windows"
            parent="de.marw.cmake4eclipse.mbs.ui.HostOSPropertyPage"
            tooltip="Properties applied under windows"
            weight="80">
      </tab>
   </extension>
 <extension
       point="org.eclipse.cdt.ui.LanguageSettingsProviderAssociation">
    <class-association
          class="de.marw.cmake4eclipse.mbs.internal.JsonCompilationDatabaseParser"
          icon="icons/CMakeLogo.gif"
          page="de.marw.cmake4eclipse.mbs.ui.JsonCompilationDatabaseParserPage"
          ui-clear-entries="false"
          ui-edit-entries="false">
    </class-association>
 </extension>
 <extension point="org.eclipse.help.toc">
    <toc file="doc/toc.xml" primary="true"/>
    <toc file="doc/topics_Tasks.xml"/>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="doc/contexts_CMake4CDT.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="de.marw.cmake4eclipse.mbs.keyword.cdt"
          label="CDT">
    </keyword>
    <keyword
          id="de.marw.cmake4eclipse.mbs.keyword.cmake"
          label="CMake">
    </keyword>
 </extension>
</plugin>
