<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="cdt/8.7-eclipse/4.5.2" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/releases/2021-09/202109151000/"/>
	<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.platform.source.feature.group" version="0.0.0"/>
</location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/tools/cdt/releases/10.4/cdt-10.4.1"/>
      <unit id="org.eclipse.cdt.sdk.feature.group" version="10.4.1.202109150103"/>
      <unit id="org.eclipse.cdt.feature.group" version="10.4.1.202109150103"/>
      <unit id="org.eclipse.cdt.jsoncdb.arm" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.arm.source" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.hpenonstop" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.hpenonstop.source" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.intel" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.intel.source" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.microsoft" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.microsoft.source" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.nvidia" version="1.0.0.202107271925"/>
      <unit id="org.eclipse.cdt.jsoncdb.nvidia.source" version="1.0.0.202107271925"/>
  </location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.13.0.v20200204-1500"/>
<unit id="org.junit.source" version="4.13.0.v20200204-1500"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx512M
-XX:MaxPermSize=256m</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>