<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="lspDetectionParticipant" name="Detection Participant" schema="schema/participant.exsd"/>
<!-- 
    for migrating to cmake4eclipse >= than 3 
-->
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
<!-- 
-->
         <tool
               command="&lt;unused&gt;"
               commandLinePattern="&lt;unused&gt;"
               customBuildStep="true"
               id="de.marw.cmake.cdt.lsp.tool.dummy"
               name="CMake driven Languages Proxy (deprecated)">
                     <inputType
                           id="de.marw.cmake.cdt.lsp.inputType.c"
                           superClass="cdt.managedbuild.tool.gnu.c.compiler.input">
                     </inputType>
                     <inputType
                           id="de.marw.cmake.cdt.lsp.inputType.cpp"
                           superClass="cdt.managedbuild.tool.gnu.cpp.compiler.input">
                     </inputType>
                     <option
                           id="de.marw.cmake.option.dummy"
                           isAbstract="false"
                           resourceFilter="project"
                           valueType="includePath">
                     </option>
         </tool>
         <toolChain
               errorParsers="org.eclipse.cdt.core.CWDLocator;org.eclipse.cdt.core.GmakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser"
               id="de.marw.cmake.cdt.lsp.toolchain.cmake"
               languageSettingsProviders="cmake4eclipse.lsp.CompileCommandsJsonParser"
               name="CMake driven (deprecated)">
            <builder
                  id="de.marw.cmake.cdt.lsp.builder.portable"
                  superClass="cmake4eclipse.mbs.builder">
            </builder>
            <supportedProperties>
               <property
                     id="org.eclipse.cdt.build.core.buildType">
                  <value
                        id="org.eclipse.cdt.build.core.buildType.debug"></value>
                  <value
                        id="org.eclipse.cdt.build.core.buildType.release">
                  </value>
                  <value
                        id="cmake4eclipse.mbs.buildType.cmake">
                  </value>
               </property>
               <property
                     id="org.eclipse.cdt.build.core.buildArtefactType">
                  <value id="cmake4eclipse.mbs.buildArtefactType.cmake"/>
               </property>
            </supportedProperties>
            <targetPlatform
                  id="de.marw.cmake.cdt.lsp.targetPlatform.cmake"
                  superClass="cmake4eclipse.mbs.targetPlatform.any">
            </targetPlatform>
            <tool
                  id="de.marw.cmake.cdt.lsp.toolchain.tool.dummy"
                  superClass="de.marw.cmake.cdt.lsp.tool.dummy">
            </tool>
         </toolChain>
         <configuration
               id="de.marw.cmake.cdt.lsp.config.base"
               languageSettingsProviders="${Toolchain};-org.eclipse.cdt.ui.UserLanguageSettingsProvider;-org.eclipse.cdt.core.ReferencedProjectsLanguageSettingsProvider;-org.eclipse.cdt.managedbuilder.core.MBSLanguageSettingsProvider;-org.eclipse.cdt.managedbuilder.core.GCCBuildCommandParser">
         </configuration>
<!--         <projectType
               buildArtefactType="de.marw.cmake.cdt.lsp.buildArtefactType.cmake"
               id="de.marw.cmake.cdt.lsp.projectType">
-->
            <configuration
                  buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
                  id="de.marw.cmake.cdt.lsp.config.debug"
                  name="Debug"
                  parent="de.marw.cmake.cdt.lsp.config.base">
               <toolChain
                     id="de.marw.cmake.cdt.lsp.config.debug.toolChain"
                     superClass="de.marw.cmake.cdt.lsp.toolchain.cmake">
               </toolChain>
            </configuration>
            <configuration
                  description="CMake default build type"
                  id="de.marw.cmake.cdt.lsp.config.cmake"
                  name="Default"
                  parent="de.marw.cmake.cdt.lsp.config.base">
               <toolChain
                     id="de.marw.cmake.cdt.lsp.config.cmake.toolChain"
                     superClass="de.marw.cmake.cdt.lsp.toolchain.cmake">
               </toolChain>
            </configuration>
            <configuration
                  buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
                  id="de.marw.cmake.cdt.lsp.config.release"
                  name="Release"
                  parent="de.marw.cmake.cdt.lsp.config.base">
               <toolChain
                     id="de.marw.cmake.cdt.lsp.config.release.toolChain"
                     superClass="de.marw.cmake.cdt.lsp.toolchain.cmake">
               </toolChain>
            </configuration>
<!--         </projectType>
-->
</extension>


 <extension
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
    <propertyValue
            property="org.eclipse.cdt.build.core.buildArtefactType"
            id="de.marw.cmake.cdt.lsp.buildArtefactType.cmake"
            name="CMake driven"/>
   </extension>
 <extension
       point="org.eclipse.cdt.core.LanguageSettingsProvider">
    <provider
          class="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParser"
          id="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParser"
          name="CMAKE_EXPORT_COMPILE_COMMANDS Parser (deprecated)"
          prefer-non-shared="true">
    </provider>
    <provider
          class="de.marw.cmake.cdt.language.settings.providers.BuiltinsCompileCommandsJsonParser"
          id="de.marw.cmake.cdt.language.settings.providers.BuiltinsCompileCommandsJsonParser"
          name="CMAKE_EXPORT_COMPILE_COMMANDS Compiler Built-ins (deprecated)"
          prefer-non-shared="true">
    </provider>
 </extension>
 <extension
       id="CompileCommandsJsonParserMarker"
       name="CMAKE_EXPORT_COMPILE_COMMANDS Parser Problem"
       point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.core.resources.problemmarker"/>
 </extension>
 <extension
       id="CompilerBuiltinsDetectorMarker"
       name="Compiler Builtins Detector Problem"
       point="org.eclipse.core.resources.markers">
    <super type="de.marw.cmake.cdt.CompileCommandsJsonParserMarker"/>
 </extension>
 <extension
       point="org.eclipse.cdt.ui.LanguageSettingsProviderAssociation">
    <class-association
          class="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParser"
          page="de.marw.cmake.cdt.internal.ui.lsp.CompileCommandsJsonParserOptionPage">
    </class-association>
    <class-association
          class="de.marw.cmake.cdt.language.settings.providers.BuiltinsCompileCommandsJsonParser"
          page="de.marw.cmake.cdt.internal.ui.lsp.BuiltinsCompilerCommandOptionPage">
    </class-association>
 </extension>
 <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="de.marw.cmake.cdt.internal.lsp.builtins.DetectorConsole"
            id="de.marw.cmake.cdt.detectorConsole">
      </CBuildConsole>
 </extension>
 <!-- Uncommented, gives an error (unkown extension point) in the IDE
 	with eclipse prior to 4.10 (2018-12)
 <extension
       point="org.eclipse.ui.trace.traceComponents">
    <component
          id="de.marw.cmake.cdt.trace"
          label="Cmake4eclipse CDT indexer support">
       <bundle
             consumed="true"
             name="de.marw.cmake.cdt">
       </bundle>
    </component>
 </extension>
 -->
</plugin>
