<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="de.marw.cmake.cdt.lspDetectionParticipant">
      <tool class="de.marw.cmake.cdt.lsp.arm.ArmccToolDetectionParticipant"
            displayName="ARM.com armcc, C &amp; C++"/>
      <tool class="de.marw.cmake.cdt.lsp.arm.ArmClangToolDetectionParticipant"
            displayName="ARM.com armclang, C &amp; C++"/>
   </extension>
   <extension
         point="org.eclipse.help.contentExtension">
      <contentExtension
            file="help_content_extension.xml">
      </contentExtension>
   </extension>
</plugin>
