<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="de.marw.cmake.cdt.lspDetectionParticipant">
      <tool class="de.marw.cmake.cdt.lsp.intel.IccToolDetectionParticipant"
            displayName="Intel icc, C, Linux &amp; OS X, EDG"/>
      <tool class="de.marw.cmake.cdt.lsp.intel.IclCandCppToolDetectionParticipant"
            displayName="Intel icl, C &amp; C++, Windows"/>
      <tool class="de.marw.cmake.cdt.lsp.intel.IclToolDetectionParticipant"
            displayName="Intel icl, C, OS X, clang"/>
      <tool class="de.marw.cmake.cdt.lsp.intel.IcpcClangToolDetectionParticipant"
            displayName="Intel icpc, C++, OS X, clang"/>
      <tool class="de.marw.cmake.cdt.lsp.intel.IcpcToolDetectionParticipant"
            displayName="Intel icpc, C++, Linux &amp; OS X, EDG"/>
   </extension>
   <extension
         point="org.eclipse.help.contentExtension">
      <contentExtension
            file="help_content_extension.xml">
      </contentExtension>
   </extension>
</plugin>
