<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             base-type="org.eclipse.core.runtime.text"
             file-extensions="txt"
             file-names="CMakeLists.txt"
             id="de.marw.cmake.cmakelists.txt"
             name="CMake script">
       </content-type>
    </extension>

 <extension
       point="org.eclipse.cdt.core.LanguageSettingsProvider">
    <provider
          class="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParser"
          id="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParser"
          name="CMAKE_EXPORT_COMPILE_COMMANDS Parser"
          prefer-non-shared="true">
         <language-scope id="org.eclipse.cdt.core.gcc"/>
         <language-scope id="org.eclipse.cdt.core.g++"/>
    </provider>
    <provider
          class="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParserSFN"
          id="de.marw.cmake.cdt.language.settings.providers.CompileCommandsJsonParserSFN"
          name="CMAKE_EXPORT_COMPILE_COMMANDS Parser SFN-proof"
          prefer-non-shared="true">
         <language-scope id="org.eclipse.cdt.core.gcc"/>
         <language-scope id="org.eclipse.cdt.core.g++"/>
    </provider>
    <provider
          class="de.marw.cmake.cdt.language.settings.providers.CmakeBuildOutputParser"
          id="de.marw.cmake.cdt.language.settings.providers.CmakeBuildOutputParser"
          name="CMake Build Output Parser (deprecated)">
         <language-scope id="org.eclipse.cdt.core.gcc"/>
         <language-scope id="org.eclipse.cdt.core.g++"/>
    </provider>
 </extension>
</plugin>
